* {
    margin: 0;
    padding: 0;
}

:root {
    --red-1: #f87171;
    --red-2: #d74848;
    --red-3: #d61b1b;
    --yellow-1: #facc15;
    --yellow-2: #ca8a04;
    --orange-1: #fb923c;
    --orange-2: #ea580c;
    --green-1: #4ade80;
    --green-2: #16a34a;
}

html {
    height: 100%;
}

body {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    width: 93%;
    margin-left: auto;
    margin-right: auto;
}

form>input {
    padding: 0 1em 0 1em;
    margin: 0.3em 0 0.8em 0;
    height: 2.5em;
    font-size: 15px;
}

form>button[type="submit"] {
    height: 3em;
    font-size: 15px;
}

form>label {
    font-size: smaller;
    margin-bottom: 5px;
}

.container {
    padding-top: 2.5em;
}

.content {
    margin-top: 3em;
    padding-top: 1em;
    /* border-top: 1px black solid;*/
}

/* Header stuff */

header {
    grid-template-columns: minmax(300px, 400px) auto minmax(100px, max-content);
    grid-template-areas: "logo nav login";
    display: grid;
    height: 50px;
    margin-top: 3rem;
    background-color: var(--red-3);
}

#logo {
    grid-area: logo;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
}

header a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
}

nav {
    grid-area: nav;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
}

header a.login {
    grid-area: login;
    background-color: var(--red-2);
}

header input.logout {
    grid-area: login;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: var(--red-2);
    color: white;
    font-size: 16px;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

header a:hover, form>input:hover {
    background-color: var(--red-1);
}

/* Login */

div.login {
    display: grid;
    grid-auto-flow: row;
    row-gap: 5em;
    justify-items: center;
}

form.login {
    display: grid;
    width: 50%;
    grid-auto-flow: row;
    row-gap: 0.3em;
}

button.login-submit {
    margin-top: 1em;
}

/* Flash messages */

p.flash:before {
    content: "> ";
}

p.flash {
    width: max-content;
    font-size: smaller;
    margin-bottom: 1em;
}

p.flash-error {
    color: var(--red-3);
}

p.flash-info {
    color: var(--yellow-1);
}

p.flash-warning {
    color: var(--orange-1);
}