* {
    margin: 0;
    padding: 0;
}

:root {
    --red-1: #f87171;
    --red-2: #d74848;
    --red-3: #d61b1b;
    --yellow-1: #facc15;
    --yellow-2: #ca8a04;
    --orange-1: #fb923c;
    --orange-2: #ea580c;
    --green-1: #4ade80;
    --green-2: #16a34a;
    --stone-1: #fafaf9;
    --stone-2: #f5f5f4;
    --gray-1: #f9fafb;
    --gray-2: #f3f4f6;
    --gray-4: #9ca3af;
}

html {
    height: 100%;
}

body {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    width: 93%;
    margin-left: auto;
    margin-right: auto;
}

footer {
    padding-top: 3em;
}

a:active,
a:visited,
a {
    color: black;
}

form>input {
    padding: 0 1em 0 1em;
    margin: 0.3em 0 0.8em 0;
    height: 2.5em;
    font-size: 15px;
}

form>button[type="submit"] {
    height: 3em;
    font-size: 15px;
}

form>label {
    font-size: smaller;
    margin-bottom: 5px;
}

.container {
    padding-top: 2.5em;
}

.content {
    margin-top: 3em;
    /* border-top: 1px black solid;*/
}

.mt3 {
    margin-top: 3em;
}

/* Header stuff */

header {
    grid-template-columns: minmax(300px, 400px) auto minmax(100px, max-content);
    grid-template-areas: "logo nav login";
    display: grid;
    height: 50px;
    margin-top: 3rem;
    background-color: var(--red-3);
}

#logo {
    grid-area: logo;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
}

header a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
}

nav.main {
    grid-area: nav;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
}

header a:visited {
    color: white;
}

header a.login {
    grid-area: login;
    background-color: var(--red-2);
}

header input.logout {
    grid-area: login;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: var(--red-2);
    color: white;
    font-size: 16px;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

header a:hover,
header form>input:hover {
    background-color: var(--red-1);
}

/* Login */

div.login {
    display: grid;
    grid-auto-flow: row;
    row-gap: 5em;
    justify-items: center;
}

form.login {
    display: grid;
    width: 50%;
    grid-auto-flow: row;
    row-gap: 0.3em;
}

button.login-submit {
    margin-top: 1em;
}

/* Flash messages */

p.flash:before {
    content: "> ";
}

p.flash {
    width: max-content;
    font-size: smaller;
    margin-bottom: 1em;
}

p.flash-error {
    color: var(--red-3);
}

p.flash-info {
    color: var(--yellow-1);
}

p.flash-warning {
    color: var(--orange-1);
}

/* Feeds */

nav.feeds {
    padding-top: 3em;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    column-gap: 4em;
}

nav.feeds a {
    padding: 0.6rem;
    text-decoration: none;
    border-radius: 0.25em;
    border: black 1px solid;
    background-color: var(--yellow-2);
}

nav.feeds a:active,
nav.feeds a:visited {
    color: black;
}

nav.feeds a:hover,
nav.feeds form>input:hover {
    background-color: var(--yellow-1);
}

nav.feeds form>input {
    padding: 1rem;
    margin: 0;
    border-radius: 0.25em;
    border: black 1px solid;
    background-color: var(--yellow-2);
    font-size: 16px;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

nav.feeds a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

form.feed-add {
    margin-top: 1em;
    display: grid;
    grid-auto-flow: row;
    width: 30%;
    row-gap: 0.3em;
}

.feed-listing {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1em;
}

.feed-card {
    display: grid;
    grid-template-rows: auto auto 1fr;
    border: black 1px solid;
    border-radius: 0.25em;
    background-color: var(--stone-2);
}

.feed-card:hover {
    box-shadow: 5px 5px 0 black;
}

.feed-card .title {
    padding: 10px 20px 10px 20px;
    align-self: middle;
    border: black solid;
    border-width: 0px 0px 1px 0px;
}

.feed-card .site_link {
    padding: 10px 20px 10px 20px;
    border: black solid;
    border-width: 0px 0px 1px 0px;
    height: min-content;
}

.feed-card .site_link a:hover {
    color: var(--gray-4);
}

.feed-card .description {
    padding: 10px 20px 10px 20px;
}