<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Servare - {% block title %}{{ title }}{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="/assets/style.css" />
</head>

<body class="container">
    <header>
        <div id="logo">Servare</div>
        <nav class="main">
            {% if let Some(user_id) = user_id %}
            <a href="/unread">Unread</a>
            <a href="/feeds">Feeds</a>
            <a href="/settings">Settings</a>
            {% endif %}
        </nav>
        {% if let Some(user_id) = user_id %}
        <form method="POST" action="/logout">
            <input type="submit" class="logout" value="Logout" />
        </form>
        {% else %}
        <a class="login" href="/login">Login</a>
        {% endif %}
    </header>

    <div class="content">
        {% for msg in flash_messages.iter() -%}
        {%- let flash_class -%}
        {%- if msg.level() == actix_web_flash_messages::Level::Error -%}
        {%- let flash_class = "flash-error" -%}
        {%- else -%}
        {%- let flash_class = "flash-info" -%}
        {%- endif -%}
        <p class="flash {{ flash_class }}"><i>{{ msg.content() }}</i></p>
        {%- endfor -%}
        {%- block content -%}{%- endblock %}
    </div>
</body>

</html>
