<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Servare - {% block title %}{{ title }}{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="/assets/style.css" />
    <link rel="shortcut icon" type="image/png" href="/assets/favicon.png"/>

    <script async type="text/javascript" src="/assets/htmx.min.js"></script>
    <script async type="text/javascript" src="/assets/hyperscript.min.js"></script>
</head>

<body class="container">
    <header>
        <div id="logo">Servare</div>
        <nav class="main">
            {% if let Some(user_id) = user_id %}
            <a {% if page == "unreader" %}class="active"{% endif %} href="/unread">Unread</a>
            <a {% if page == "feeds" %}class="active"{% endif %} href="/feeds">Feeds</a>
            <a {% if page == "settings" %}class="active"{% endif %} href="/settings">Settings</a>
            {% endif %}
        </nav>
        {% if let Some(user_id) = user_id %}
        <form method="POST" action="/logout">
            <input type="submit" class="logout" value="Logout" />
        </form>
        {% else %}
        <a class="login" href="/login">Login</a>
        {% endif %}
    </header>

    <div class="content">
        {% for msg in flash_messages.iter() -%}
        {%- let flash_class -%}
        {% match msg.level() %}
        {%- when actix_web_flash_messages::Level::Error -%}
        {%- let flash_class = "flash-error" -%}
        {%- when actix_web_flash_messages::Level::Warning -%}
        {%- let flash_class = "flash-warning" -%}
        {%- when actix_web_flash_messages::Level::Info -%}
        {%- let flash_class = "flash-info" -%}
        {%- when actix_web_flash_messages::Level::Debug -%}
        {%- let flash_class = "flash-debug" -%}
        {%- when actix_web_flash_messages::Level::Success -%}
        {%- let flash_class = "flash-success" -%}
        {%- endmatch -%}
        <p class="flash {{ flash_class }}">{{ msg.content() }}</p>
        {%- endfor -%}
        {%- block content -%}{%- endblock %}
    </div>

    <footer></footer>
</body>

</html>
