{% extends "feeds_base.html.j2" %}

{% block title %}Feeds{% endblock %}
{% block feeds_content -%}

<div class="content feed-listing">
	{% for feed in feeds %}
	<div class="feed-card">
		<h2>{{ feed.title }}</h2>
		Link: <a href="{{ feed.url }}">{{ feed.url }}</a>		
	</div>
	{% endfor %}
</div>

{%- endblock %}