{% extends "base.html.j2" %}

{% block title %}Feeds{% endblock %}
{% block content -%}

<h1>Feeds</h1>

{% for feed in feeds %}
<h2>{{ feed.title }}</h2>
Link: <a href="{{ feed.url }}">{{ feed.url }}</a>
{% endfor %}

{%- endblock %}
