{% extends "feeds_base.html.j2" %}

{% block title %}{{ feed.original.title }}{% endblock %}
{% block feeds_content -%}

<div class="content feed-entries-listing">
	{% for entry in entries %}
	<article class="feed-entry-card">
		<h3 class="title"><a href="/feeds/{{ feed.original.id }}/entries/{{ entry.original.id }}" class="title-link">{{ entry.original.title }}</a></h3>
		<div class="metadata">
			<p class="created-at">{{ entry.created_at }}</p>
			<p class="author">{{ entry.author }}</p>
		</div>
	</article>
	{% endfor %}
</div>

{%- endblock %}