{% extends "feeds_base.html.j2" %}

{% block title %}Add a feed{% endblock %}
{% block feeds_content -%}

<h2>Add a feed</h2>

<form class="feed-add" action="/feeds/add" method="POST">
	<label for="email">URL</label>
	<input type="text" name="url" placeholder="Feed URL">

	<button type="submit">Find a feed</button>
</form>

{%- endblock %}
