{% extends "base.html.j2" %}

{% block title %}Feeds{% endblock %}
{% block content -%}

<h1>Feeds</h1>

{% for feed in feeds %}
{% if let Some(title) = feed.title %}
<h2>{{ title }}</h2>
{% endif %}
Link: <a href="{{ feed.url }}">{{ feed.url }}</a>
{% endfor %}

{%- endblock %}
