{% extends "base.html.j2" %}

{% block title %}Login{% endblock %}
{% block content %}

<div class="login">
	<h1>Log in</h1>

	<form class="login" action="/login" method="POST">
		<label for="email">Email</label>
		<input type="text" name="email" placeholder="Enter your email address">

		<label for="password">Password</label>
		<input type="password" name="password" placeholder="Enter your password">

		<input class="login-submit" type="submit" value="Continue" />
	</form>
</div>

{% endblock %}